@page
@model Diamond.RazorPage.Pages.Admin.Users.UpdateUserModel
@{
}
<div class="row">
    <div class="col-md-8 mx-auto rounded border p-3">

        <h2 class="text-center mb-5 text-primary fw-bold fs-3">Update User</h2>


        @if (!string.IsNullOrEmpty(Model.errorMessage))
        {
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>@Model.errorMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }
        else if (!string.IsNullOrEmpty(Model.successMessage))
        {
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <strong>@Model.successMessage</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        }

        <form method="post" enctype="multipart/form-data">

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">ID</label>
                <div class="col-sm-8">
                    <input readonly class="form-control-plaintext" value="@Model.User.Id">

                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="UserDTO.Email" />
                    <span asp-validation-for="UserDTO.Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="UserDTO.Name" />
                    <span asp-validation-for="UserDTO.Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Phone</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="UserDTO.Phone" />
                    <span asp-validation-for="UserDTO.Phone" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Address</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="UserDTO.Address" />
                    <span asp-validation-for="UserDTO.Address" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label"></label>
                <div class="col-sm-8">
                    <img src="~/users/@Model.User.Avatar" width="150" />
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Image</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="UserDTO.Avatar">
                    <span asp-validation-for="UserDTO.Avatar" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Created ON</label>
                <div class="col-sm-8">
                    <input readonly class="form-control-plaintext" value="@Model.User.CreateOn.ToString("MM/dd/yyyy")">
                    <span asp-validation-for="UserDTO.Avatar" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Status</label>
                <div class="col-sm-8">
                    <select class="form-control" asp-for="UserDTO.Status">
                        <option value="true">Active</option>
                        <option value="false">Inactive</option>
                    </select>
                    <span asp-validation-for="UserDTO.Status" class="text-danger"></span>
                </div>
            </div>


            <div class="row mb-3">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" href="/Admin/Users/ListUser" role="button">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>