<div class="sidebar">
    <ul class="sidebar-nav">
        <li class="sidebar-nav-item">
            <a href="#" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-tachometer-alt"></i>
                </div>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a asp-page="/Admin/Products/ListProducts" class="sidebar-nav-link active">
                <div>
                    <i class="fas fa-box-open"></i>
                </div>
                <span>Product</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a asp-page="/Admin/Categories/ListCategory" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-tags"></i>
                </div>
                <span>Category</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a asp-page="/Admin/Users/ListUser" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-user"></i>
                </div>
                <span>User</span>
            </a>
        </li>
        <li class="sidebar-nav-item">
            <a asp-page="/Views/Home/Index" class="sidebar-nav-link">
                <div>
                    <i class="fas fa-home"></i>
                </div>
                <span>Home</span>
            </a>
        </li>
    </ul>
</div>
