@page
@model Diamond.RazorPage.Pages.Admin.Categories.CreateCategoryModel
@{
}
<div class="row justify-content-center mt-5">
    <div class="col-md-8">
        <div class="card shadow-sm">
            <div class="card-header text-center">
                <h2 class="text-center mb-5 text-primary fw-bold fs-3">Create Category</h2>
            </div>
            <div class="card-body">
                @if (!string.IsNullOrEmpty(Model.erroMessage))
                {
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong>@Model.erroMessage</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }
                else if (!string.IsNullOrEmpty(Model.successMessage))
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>@Model.successMessage</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                }

                <form method="post" enctype="multipart/form-data">
                    <div class="mb-3 row">
                        <label class="col-sm-4 col-form-label">Name</label>
                        <div class="col-sm-8">
                            <input class="form-control" asp-for="CategoryDTO.CategoryName" />
                            <span asp-validation-for="CategoryDTO.CategoryName" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="mb-3 row">
                        <label class="col-sm-4 col-form-label">Description</label>
                        <div class="col-sm-8">
                            <textarea class="form-control" asp-for="CategoryDTO.Description"></textarea>
                            <span asp-validation-for="CategoryDTO.Description" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-4 offset-sm-4 d-grid">
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </div>
                        <div class="col-sm-4 d-grid">
                            <a class="btn btn-outline-secondary" href="/Admin/Categories/ListCategory" role="button">Cancel</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
