@page
@model Diamond.RazorPage.Pages.Views.Contact.ContactConfirmationModel
@{
    ViewData["Title"] = "Email Sent";

}
<div class="container mt-5">
    <div class="card">
        <div class="card-header text-white bg-success">
            <h1 class="card-title">Email Sent</h1>
        </div>
        <div class="card-body">
            <p class="card-text">The email has been sent successfully.</p>
            <a href="/Views/Home" class="btn btn-primary">Return to Home</a>
        </div>
    </div>
</div>